---
import Layout from "../..//layouts/Layout.astro";
import Footer from "../../sections/Footer.astro";
import Header from "../../sections/Header";
import Newsletter from "../../sections/Newsletter.astro";
import Services from "../../sections/Services.astro";
import { getLandingData } from "../../services/data.service";

const data = await getLandingData();
---

<Layout meta={data.meta}>
  <Header client:load data={data.headerData}  />
  <main class="flex flex-col justify-center items-center mt-28">
    <div class="w-3/4 ">
      
      <Services data={data.servicesData} />
      <Newsletter />
    </div>
    <Footer/>
  </main>
</Layout>

