---
import Footer from "@/sections/Footer.astro";
import Newsletter from "@/sections/Newsletter.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header";
import { getLandingData } from "../services/data.service";

const data = await getLandingData();
---

<Layout>
  <Header client:load data={data.headerData} />
  <div class="container">
    <div class="flex justify-center flex-col mb-8">
      <div class="flex justify-center">
        <img src="/favicon.png" alt="" />
      </div>

      <h1 class="text-center mb-6 mt-20">
        $ Il mondo della tecnologia attraverso guide, tutorial, manuali e
        creatività.
      </h1>
    </div>
    <div class="mx-24">
      <h3 class="text-4xl mb-8 font-medium">Ciao! 😁🤙</h3>
      <p>
        <strong>Ciao a tutti!</strong> Mi chiamo <strong
          >Marino Di Clemente</strong
        > e sono il fondatore di
        <strong>Pugliadevs</strong>. Nel 2024 ho dato vita a questo blog con un
        obiettivo ben preciso: rendere il mondo dell'informatica accessibile a
        tutti. <strong>Sono un developer e appassionato </strong>da oltre
        vent'anni con una profonda conoscenza del settore. La mia missione è
        quella di svelare i segreti dell'informatica in modo semplice e
        comprensibile, utilizzando un linguaggio chiaro e privo di tecnicismi.
      </p>
      <p>
        <strong>Pugliadevs</strong> parla di IT&dev affrontando le tematiche più
        disparate: intelligenza artificiale, containerizzazione con Docker, strumenti
        di orchestrazione, sviluppo&design…
      </p>
      <h3 class="text-4xl mb-8 font-medium">Perché ho aperto questo blog</h3>
      <p>
        Nel vasto mondo della tecnologia, una delle <strong
          >sfide più significative</strong
        >
        consiste nell'articolare concetti tecnici senza far uso del linguaggio specifico
        del settore. Nel corso degli ultimi anni, ho accumulato esperienza nella
        divulgazione e comunicazione di argomenti legati all'IT, attraverso varie
        modalità come corsi, webinar, e incontri. Questo percorso mi ha portato a
        mettere insieme le mie competenze al fine di restituire alla comunità tech
        e alle diverse community parte di quanto ho imparato sin dall'inizio del
        mio percorso in questo ambito.
      </p>
      <h3 class="text-4xl mb-8 font-medium">Sentiamoci!</h3>
      <ul>
        <li class="my-3">
          <a target="_blank" href="https://www.linkedin.com/groups/9589581/"
            >Linkedin</a>
        </li>
        <li class="my-3">
          <a
            target="_blank"
            href="https://www.facebook.com/groups/419602630408026/about"
            >Facebook</a>
        </li>
        <li class="my-3">
          <a target="_blank" href="https://www.youtube.com/@pugliadevs/"
            >Twitter</a>
        </li>
        <li class="my-3">
          <a target="_blank" href="https://t.me/pugliadevs">Gruppo Telegram</a>
        </li>
      </ul>
    </div>
  </div>
  <Newsletter />
  <Footer />
</Layout>

<style>
  img {
    width: 20%;
  }
  .container {
    margin-top: 160px;
  }
  p {
    margin-bottom: 50px;
    font-size: 16px;
    color: gray;
    line-height: 26px;
  }
  strong {
    font-weight: bolder;
  }
  a {
    color: rgb(72, 117, 255);
  }
</style>
