---
import Footer from "@/sections/Footer.astro";
import Newsletter from "@/sections/Newsletter.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header";
import { getLandingData } from "../services/data.service";

const data = await getLandingData();
---

<Layout>
  <Header client:load data={data.headerData} />
  <div class="container">
    <h1 class="text-6xl text-center">About Us</h1>
    <div class="flex justify-center">
      <img class="justify-center" src="/favicon.png" alt="" />
    </div>
    <h2 class=" text-center my-3">Benvenuti nel Sito degli Sviluppatori Pugliesi! </h2>
    <p class=" text-center">
      Ciao a tutti gli appassionati di sviluppo software della nostra
      meravigliosa Puglia! bt
      Siamo entusiasti di darvi il benvenuto nel nostro sito dedicato agli
      sviluppatori che condividono la passione per la programmazione,
      l'innovazione e la crescita tecnologica nella nostra bellissima regione.
      Qui troverete un ambiente accogliente e collaborativo dove poter
      condividere conoscenze, esperienze e progetti entusiasmanti.
    </p>
    <h3>🚀 <strong>Cosa ci aspetta?</strong></h3>
    <p>
      Discussioni tecniche e condivisione di best practices.
      Eventi, meetup e workshop locali.
      Opportunità di networking con altri sviluppatori pugliesi.
      
        Supporto reciproco per superare sfide e problemi di programmazione.
      
      Progetti collaborativi che valorizzano le competenze locali.
    </p>
    <h3>💡 <strong>Come partecipare:</strong></h3>
    <ol>
      <li>
        <strong>Introduzione:</strong> Raccontaci un po' di te sui nostri social nel thread di presentazione.
        Qual è il tuo stack tecnologico preferito? Quali sono i tuoi progetti attuali?
      </li>
      <li>
        <strong>Partecipazione attiva:</strong> Condividi le tue idee, rispondi alle
        domande degli altri, e prendi parte alle discussioni.
      </li>
      <li>
        <strong>Eventi:</strong> Partecipa agli eventi locali che organizzeremo periodicamente.
      </li>
    </ol>
    <h3 class=" mt-6">🤝 <strong>Insieme possiamo fare la differenza!</strong></h3>
    <p>
      Siamo certi che la nostra comunità crescerà grazie al vostro contributo.
      Che l'avventura nello sviluppo software pugliese abbia inizio!
    </p>
    <p>Buon coding a tutti!</p>
  </div>
  <Newsletter />
  <Footer />
</Layout>

<style>
  img {
    width: 20%;
  }
  .container {
    margin-top: 160px;
  }
  p {
    margin-bottom: 50px;
    font-size: 16px;
    color: gray;
    line-height: 26px;
  }
  strong {
    font-weight: bolder;
  }
  a {
    color: rgb(72, 117, 255);
  }
</style>

<!-- <div class="container">
    <div class="flex justify-center flex-col mb-8">
      <div class="flex justify-center">
        <img src="/favicon.png" alt="" />
      </div>

      <h1 class="text-center mb-6 mt-20">
        $ Il mondo della tecnologia attraverso guide, tutorial, manuali e
        creatività.
      </h1>
    </div>
    <div class="mx-24">
      <h3 class="text-4xl mb-8 font-medium">Ciao! 😁🤙</h3>
      <p>
        <strong>Ciao a tutti!</strong> Mi chiamo <strong
          >Marino Di Clemente</strong
        > e sono il fondatore di
        <strong>Pugliadevs</strong>. Nel 2024 ho dato vita a questo blog con un
        obiettivo ben preciso: rendere il mondo dell'informatica accessibile a
        tutti. <strong>Sono un developer e appassionato </strong>da oltre
        vent'anni con una profonda conoscenza del settore. La mia missione è
        quella di svelare i segreti dell'informatica in modo semplice e
        comprensibile, utilizzando un linguaggio chiaro e privo di tecnicismi.
      </p>
      <p>
        <strong>Pugliadevs</strong> parla di IT&dev affrontando le tematiche più
        disparate: intelligenza artificiale, containerizzazione con Docker, strumenti
        di orchestrazione, sviluppo&design…
      </p>
      <h3 class="text-4xl mb-8 font-medium">Perché ho aperto questo blog</h3>
      <p>
        Nel vasto mondo della tecnologia, una delle <strong
          >sfide più significative</strong
        >
        consiste nell'articolare concetti tecnici senza far uso del linguaggio specifico
        del settore. Nel corso degli ultimi anni, ho accumulato esperienza nella
        divulgazione e comunicazione di argomenti legati all'IT, attraverso varie
        modalità come corsi, webinar, e incontri. Questo percorso mi ha portato a
        mettere insieme le mie competenze al fine di restituire alla comunità tech
        e alle diverse community parte di quanto ho imparato sin dall'inizio del
        mio percorso in questo ambito.
      </p>
      <h3 class="text-4xl mb-8 font-medium">Sentiamoci!</h3>
      <ul>
        <li class="my-3">
          <a target="_blank" href="https://www.linkedin.com/groups/9589581/"
            >Linkedin</a>
        </li>
        <li class="my-3">
          <a
            target="_blank"
            href="https://www.facebook.com/groups/419602630408026"
            >Facebook</a>
        </li>
        <li class="my-3">
          <a target="_blank" href="https://www.youtube.com/@pugliadevs/"
            >Twitter</a>
        </li>
        <li class="my-3">
          <a target="_blank" href="https://t.me/pugliadevs">Gruppo Telegram</a>
        </li>
      </ul>
    </div>
  </div> -->
