---
---
<div
  class=" dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl prose-h1:line-height[70px]
  prose-a:text-[#cc6360] prose-p:text-[#828282] prose-img:rounded-xl
  prose-li:text-[#828282] prose-strong:font-bold">
  <slot />
</div>