---
interface Props {
  data: {
    title: string;
    subTitle: string;
    primaryCta: string;
    secondaryCta: string;
    highlightedTitle?: string;
  };
}

const { data } = Astro.props;
---

<section id="hero-section" class="flex justify-center mt-48">
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 max-w-7xl mx-auto">
    <div class="col-span-full lg:col-span-4 flex flex-col justify-center">
      <div class="MediaImgText">
        <div class="pCustom">
          <img
            class="w-16 h-16 rounded-full object-cover mb-2"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTArt7daYh8afqgkeG68ww7GB7gOAKIn5ixEUkTs9Uqmg&s"
            alt=""
          />
          <p class="">
            <span class="contents text-slate-400">Di</span> Daniel Di
          </p>
        </div>

        <div class="blog-post-tag mt-2">
          <a href="#">intelligenza-artificiale</a>
          <a href="#">recensione</a>
        </div>
      </div>
      <h1 id="TitoloArticolo" class="featured-post-title mb-4 CenterElement">
        {data.title}
      </h1>
      <ul class="featured-post-meta text-slate-400 CenterElement">
        <li>2024-03-14 - 🕑 3 minuti</li>
      </ul>
      <p
        id="subTitoloArticolo"
        class="text-[16px] leading-relaxed text-slate-400 mt-3 CenterElement"
      >
        {data.subTitle}
      </p>
      <a
        href="#"
        class="flex hover:text-gray-700 ACustomHero CenterElementLeggi"
      >
        <span class="text-black size-[14px]">Leggi</span>
        <p class="ml-10 transition ease-out duration-300 hover:translate-x-3">
          ➡️
        </p>
      </a>
    </div>
    <div class="col-span-full lg:col-span-8 flex justify-center items-center">
      <img
        src="https://plus.unsplash.com/premium_photo-1678565879444-f87c8bd9f241?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%D"
        alt="Immagine hero"
        class="min-w-20 max-w-[680px] object-cover rounded-lg w-full lg:h-auto"
      />
    </div>
  </div>
</section>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #hero-section {
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
  }

  .imgCustom {
    object-fit: cover;
    border-radius: 50%;
  }

  .pCustom {
    font-family: jost, sans-serif;
    font-weight: 500;
    /* Adjust font-size for better scaling */
    font-size: clamp(1rem, 2.6rem, 3rem);
    line-height: clamp(1.2rem, 3.6rem, 4rem);
    margin-bottom: 0;
  }

  .blog-post-tag a {
    background-color: #000;
    padding: 4px 20px;
    display: inline-block;
    border-radius: 50px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .featured-post-title {
    /* Adjust font-size for better scaling */
    font-size: clamp(2rem, 50px, 60px);
    font-family: jost, sans-serif;
    font-weight: 700;
    color: #141414;
    line-height: clamp(2.4rem, 60px, 72px);
  }
  .featured-post-meta {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .featured-post-meta li {
    font-size: 15px;
  }
  .ACustomHero {
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
  }

  @media (max-width: 1024px) {
    .MediaImgText {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .pCustom {
    }

    .MediaImgText img {
      margin: 0 auto;
    }
    .CenterElement {
      text-align: center;
    }
    .CenterElementLeggi {
      justify-content: center;
    }
    #subTitoloArticolo[data-astro-cid-shwxrd6l] {
      font-size: 16px;
      line-height: 26px;
      max-width: 100% !important;
    }
  }
  @media (max-width: 1498px) {
    #TitoloArticolo {
      font-family: jost, sans-serif;
      font-weight: 700;
      color: #141414;
      margin-bottom: 30px;
      display: block;
      font-size: 35px;
      line-height: 50px;
    }
    #subTitoloArticolo {
      font-size: 16px;
      line-height: 26px;
      max-width: 290px;
    }
  }

  @media (min-width: 1025px) and (max-width: 1205px) {
    .gap-8 {
      gap: 5.3rem;
    }
  }
</style>
