---

---

<div class="container mt-20">
  <section class="blog">
    <div class="container text-center"></div><div class="container-fluid">
      <div class="card text-center">
        <div class="card-header"><h2 class=" mt-2">Iscriviti alla newsletter</h2></div><div
          class="card-body"
        >
          <h5 class="card-title mt-5">
            Per non perderti gli ultimi articoli ed eventi
          </h5><p class="card-text">
            Riceverai una volta al mese (o anche meno) gli ultimi articoli e gli eventi in programma
          </p><a target="_blank" href="https://mailchi.mp/40d229dd1ec5/iscrizione-newsletter-pugliadevs" class="btn btn-primary"
            >Andiamo!</a>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
	.blog {
    padding: 60px 0 100px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: auto;
    padding: 1.25rem;
}
.card-title {
    margin-bottom: 0.75rem;
	
}
h5{
    color: #141414;
    font-weight: 700;
    letter-spacing: .5px;
	font-size: 1.25rem;
}
p {
    font-size: 16px;
    color: gray;
    line-height: 26px;
	margin-top: 0;
    margin-bottom: 1rem;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-primary {
    background-color: #000;
    color: #fff;
}
.btn {
    padding: 18px 30px;
    border: 2px solid #141414;
    font-family: poppins, sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
    min-width: 180px;
    text-transform: capitalize;
    border-radius: 5px;
}
</style>