---

import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}, description={frontmatter.description}>
	<div>
		<h1>{frontmatter.title}</h1>
		<slot/>
	</div>
</Layout>