---
import { CollectionEntry, getCollection } from "astro:content";
import DettaglioBlog from "../../components/DettaglioBlog.astro";
import DettaglioSocial from "../../components/DettaglioSocial.astro";
import Prose from "../../components/Prose.astro";
import MarkdownWrapper from "../../layouts/MarkdownWrapper.astro";
import Footer from "../../sections/Footer.astro";
import Newsletter from "../../sections/Newsletter.astro";

export async function getStaticPaths() {
  const events = await getCollection("events");
  return events.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<"events">;
};

const { entry } = Astro.props;

const { Content } = await entry.render();
---

<MarkdownWrapper frontmatter={entry.data}>
  <div class="container mt-52 flex flex-wrap justify-center">
    <div id="Colonna" class="w-full md:w-1/3 lg:w-1/4 px-4 pb-8">
      <DettaglioSocial />
    </div>
    <div class="w-full md:w-3/3 lg:w-3/4 px-4 pb-8">
      <div class="flex justify-center items-center content-center">
        <DettaglioBlog e={entry} />
      </div>
      <Prose>
        <Content />
      </Prose>
    </div>
	
  </div>
  <Newsletter />

  <Footer />
</MarkdownWrapper>

<style>
  @media (max-width: 1024px) {
    #Colonna {
      display: none;
    }
  }
</style>
