---
import { getCollection } from "astro:content";
import PostEvents from "../../components/PostEvents.astro";
import Layout from "../../layouts/Layout.astro";

const events = await getCollection("events");
---
<Layout >
<div>
	<h1>Posts</h1>
	<div>
		{events.map(event => <PostEvents event={event} />)}
	</div>
</div>

</Layout>